.container {
    position: relative;
    width: 1600px;
    height: 1200px;

    background: #E6EAF8;
}

.page {
    position: absolute;
    width: 1213px;
    height: 854px;
    left: 193px;
    top: 173px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #FFFFFF;
    border-radius: 16px;
}
.header{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;
width: 1013px;
height: 128px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.user{
    flex: none;
order: 0;
flex-grow: 0;
width: 91px;
height: 40px;

}
.heading{
    padding-top: 100px;
    padding-left: 100px;
    font-family: 'Kanit', sans-serif;
font-family: 'Merriweather', serif;
font-style: normal;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 1013px;
    height: 64px;    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.search-box{
margin-top: 250px;
margin-left: 100px;
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 16px;
gap: 8px;
width: 327px;
height: 64px;
border: 1px solid #BFC8E6;
border-radius: 4px;
flex: none;
font-family: 'Poppins';
font-style: normal;
color: #151B32;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px; 
    margin-top: 250px;

  }
  
  .grid-item:hover {
    
    background-color: #e6e6fa; 
    color: #fff;
    box-shadow: 0px 0px 40px 20px #888888;
    border-radius: 20px;
    transform: scale(1.1); 
    transition: 0.3s all;
  }
  .user-item {
    display: flex;
    align-items: center;
    width: 327px;
    height: 208px;
    padding: 0 0 0 24px;
}

.user-item:nth-child(2) {
    border: 1px solid #BFC8E5;
    border-radius: 16px;
    box-shadow: 0px 8px  23px rgba(218, 224, 249, 0.7);
}

.user-profile {
    padding: 24px;
}

.user-avt img {
    border-radius: 50%;
    height: 97px;
    width: 97px;
    overflow: hidden;
}

.user-favor {
    display: flex;
    flex-wrap: wrap;
}

.user-favor-item {
    color: #516fd4;
    margin: 4px;
    padding: 4px 6px;
    line-height: 16px;
    margin: 10px 4px 0;
    border: 1px solid #BFC8E6;
    border-radius: 16px;
}
.content-box {
    position: absolute;
    margin: 300px 100px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}